{% load staticfiles %}

<!-- JS & CSS for ExtJs -->

{% if extjs %}

<link rel="stylesheet" type="text/css" href="{% static "resources/ext-theme-neptune/ext-theme-neptune-all.css" %}"/>
<script type="text/javascript" src="{% static "ext-all-debug.js" %}"></script>
<script type="text/javascript" src="{% static "locale/ext-lang-ru.js" %}"></script>
<script type="text/javascript" src="{% static "resources/ext-theme-neptune/ext-theme-neptune.js" %}"></script>

<script type="text/javascript" src="{% static "popup.js" %}"></script>

{% endif %}